.button {
    cursor: pointer;
  
    &.primary {
      background-color: #445d68;
      border: 0;
      padding: 4px 20px;
      font-size: 15px;
      color: white;
      border-radius: 15px;
    }
  }