.calendar-panel-wrapper {
  position: sticky;
  top: 52px;
  background-color: $app-white;
  z-index: 1;

  @include for-tablet-portrait-up {
    top: 75px;
  }
}

.calendar-panel {
  padding: 30px 15px;
  box-sizing: border-box;
}

.month-navigation {
  display: flex;
  align-items: center;

  .description {
    border-top: 2px solid $app-primary;
    border-bottom: 2px solid $app-primary;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    cursor: default;
    color: $app-primary;

    .month-name {
      margin: auto;
      font-size: 16px;
    }
  }

  .nav-icon {
    cursor: pointer;
    height: 40px;
    border: 2px solid $app-primary;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:nth-child(3) {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover {
      background-color: $app-primary;

      path {
        fill: $app-white;
      }
    }
  }
}

.month-view {
  flex-wrap: wrap;
}

.month-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-wrapper {
  position: relative;
}

.dropdown-anchor {
  padding: 10px;
  cursor: pointer;
}

.filter-list {
  list-style: none;
  padding: 20px;
  margin: 0;
  background-color: white;
  z-index: 1;
  width: 180px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 20px 30px rgba(19, 0, 77, 0.16);
  right: -10px;

  .checkable {
    margin: 10px 0;
    cursor: pointer;

    label {
      cursor: pointer;
    }
  }
}

.dropdown-target {
  display: none;
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease;
}

.dropdown-target:hover,
.dropdown-anchor:hover > .dropdown-target {
  visibility: visible;
  opacity: 1;
  display: block;
}
