.game-item {
  border: 0;
  background-color: white;
  font-size: 12px;
  box-sizing: border-box;
  padding: 0;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(19, 0, 77, 0.08);
  cursor: pointer;
  text-decoration: none;
  transition: margin 0.2s ease-out, box-shadow 0.2s ease-out;
  -webkit-transition: margin 0.2s ease-out, box-shadow 0.2s ease-out;
  -moz-transition: margin 0.2s ease-out, box-shadow 0.2s ease-out;
  -o-transition: margin 0.2s ease-out, box-shadow 0.2s ease-out;
  width: calc(33.33% - 15px);

  &:hover {
    box-shadow: 0 20px 30px rgba(19, 0, 77, 0.16);
    margin-top: 0;
    margin-bottom: 10px;
  }

  &:active {
    box-shadow: 0 0 30px rgba(19, 0, 77, 0.08);
  }

  .game-cover {
    display: flex;
    align-items: center;
    overflow-y: clip;
    overflow-x: visible;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #171717;
    position: relative;

    .game-status {
      @include ribbon(#7D5809, 0, 0.5em);

      padding: 2px 7px;
      right: -0.5em;
      bottom: 0.5em;
      width: auto;
      background-color: $orange;
      color: $app-white;
    }

    .today-banner {
      @include ribbon(darken($app-primary, 10%), 0.5em, 0);

      left: -0.5em;
      bottom: 0.5em;
      width: auto;
      background-color: $app-primary;
      color: $app-white;
      padding: 4px 12px;
      height: 23px;
      border: 1px solid $app-white;

      &::before {
        top: calc(-0.5em - 1px);
      }
    }

    img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .game-details {
    position: relative;
    height: 115px;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
    color: #13004d;

    .game-title {
      height: auto;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 14px;
      font-weight: bold;
      max-height: 43px;

      &.game-title--full {
        height: auto;
        max-height: 60px;
      }
    }

    .release-date {
      color: $grey;
      font-size: 12px;
      display: flex;
      align-items: center;

      span {
        margin-top: 2px;
      }

      svg {
        height: 20px;
        width: 20px;
        margin-right: 1px;
      }
    }

    .platforms {
      position: absolute;
      bottom: 10px;
      flex-wrap: wrap;
      max-height: 50px;
      overflow: hidden;

      .icon-wrapper {
        width: 20px;
        height: 20px;
        overflow: hidden;
        display: inline-block;
        margin-right: 3px;
        margin-top: 1px;

        .platform-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  @include for-tablet-portrait-up {
    margin: 15px;
    width: calc(25% - 30px);

    &:hover {
      box-shadow: 0 20px 30px rgba(19, 0, 77, 0.16);
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .game-details {
      padding: 10px;

      .game-title {
        height: 45%;
        font-size: 18px;
        max-height: 38px;
      }

      .platforms {
        flex-wrap: nowrap;
        max-height: 50px;

        .icon-wrapper {
          width: 25px;
          height: 25px;
          margin-right: 5px;

          .platform-icon {
            width: 25px;
            height: 25px;
          }
        }
      }

      .release-date {
        font-size: 12px;

        svg {
          height: 24px;
          width: 24px;
          margin-right: 1px;
        }
      }
    }
  }

  @include for-desktop-up {
    width: calc(20% - 30px);
  }
}

.review-score-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  background-color: $app-primary;
  border-radius: 50%;
}

.review-score-small {
  background-color: $app-white;
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  line-height: 22px;
  text-align: center;
  height: 20px;
  color: $app-primary;

  &.masterpiece {
    background-color: $app-secondary;
  }

  &.great {
    background-color: #9ce37d;
  }

  &.good {
    background-color: #d0e8af;
  }

  &.average {
    background-color: #ffcc8a;
  }

  &.poor {
    background-color: #db6b6b;
  }
}
