.input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
  }
  
  .filters {
    .checkbox-wrapper {
      position: relative;
  
      input[type=checkbox] {
        display:none;
      }
    
      label {
        padding-left: 28px;
        height: 30px;
        display: block;
        cursor: pointer;
        line-height: 1.8;
      }
  
      input[type=checkbox]:checked + label {
        font-weight: bold;
      }
    
      input[type=checkbox] + label:before {  
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;  
        left: 0;
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      }
  
      input[type=checkbox]:checked + label:before, input[type=checkbox] + label:hover:before {
        -moz-filter: none;
        -o-filter: none;
        -webkit-filter: none;
        filter: none;
      }
  
      input[type=checkbox] + #xboxOneCheckbox:before {
        background:url("../images/xbox.svg") no-repeat;
        background-size: 100%;
      }
  
      input[type=checkbox] + #ps4Checkbox:before {
        background:url("../images/ps.svg") no-repeat;
        background-size: 100%;
      }
  
      input[type=checkbox] + #nintendoSwitchCheckbox:before {
        background:url("../images/switch.svg") no-repeat;
        background-size: 100%;
      }
  
      input[type=checkbox] + #pcCheckbox:before {
        background:url("../images/PC.svg") no-repeat;
        background-size: 100%;
        background-position: center;
        background-color: grey;
      }
  
      input[type=checkbox]:checked + #pcCheckbox:before, input[type=checkbox] + #pcCheckbox:hover:before {
        background-color: white;
      }
  
      input[type=checkbox] + #macCheckbox:before {
        background:url("../images/Mac.svg") no-repeat;
        background-size: 100%;
      }
  
      input[type=checkbox] + #linuxCheckbox:before {
        background:url("../images/Linux.svg") no-repeat;
        background-size: 100%;
      }
  
      input[type=checkbox] + #stadiaCheckbox:before {
        background:url("../images/stadia.png") no-repeat;
        background-size: 100%;
      }
    
      // input[type=checkbox]:checked + #xboxOneCheckbox:before {
      //   background:url("../images/xbox.svg") no-repeat;
      //   background-size: 100%;
      // }
    }
  }