.input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
  }
  
  .filters {
    .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .checkable {
      input {
        display: none;

        &:checked + label {
          color: white;
          background-color: $app-primary-highlighted;
        }
      }

      label {
        padding: 5px;
        background-color: white;
        display: inline-block;
        color: $app-primary;
        cursor: pointer;
        margin: 2px;
        border-radius: 5px;

        &:hover {
          background-color: #B4ACCC;
        }
      }
    }
  }