
.search {
  width: 100%;
  display: none;
  padding: 0 10px;
  box-sizing: border-box;

  .search-label {
    font-size: 14px;
    font-style: italic;
  }

  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: column;
  }
}
