
// @mixin for-phone-only {
// @mixin for-tablet-portrait-up {
// @mixin for-tablet-landscape-up {
// @mixin for-desktop-up {
// @mixin for-big-desktop-up {



.page-title {
  font-family: 'GoodTimes', sans-serif;
  text-align: left;
  margin: 0px;
  font-size: 2em !important;
  display: inline-block;
  padding: 0 5px;

  br {
    display: none;
  }

  @include for-tablet-portrait-up {
    font-size: 2.5em !important;
    line-height: 1;
    text-align: center;
    padding-bottom: 10px;
  }
  @include for-tablet-landscape-up {
    font-size: 3.5em !important;
    br {
      display: initial;
    }
  }
}

.sub-title {
  text-align: left;
  margin: 10px;
  font-weight: normal;
  font-size: 1.2em;
  display: none;
  text-align: center;

  // @include for-tablet-portrait-up {
  //   display: none;
  // }
  @include for-tablet-landscape-up {
    display: block;
  }
}

.side-panel {
  // background-color: #363535;
  background-color: #0e1c22;
  color: white;
  border-right: 1px solid gray;
  z-index: 3;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  height: 50px;
  overflow: hidden;
  width: 100vw;
  justify-content: space-between;

  .hr {
    display: none;
  }

  .filters {
    display: none;
    width: 100%;
  }

  .signature {
    margin-bottom: 0;
    margin-top: auto;
    color: gray;
    font-size: 12px;
    text-align: center;
    display: none;

    a {
      color: gray;
    }
    @include for-tablet-landscape-up {
      display: block;
    }
  }
  
  @include for-tablet-landscape-up {
    flex-direction: column;
    position: relative;
    width: 20vw;
    height: 100%;
    justify-content: start;

    .hr {
      display: block;
    }

    .filters {
      display: block;
    }
  }
}

.calendar-logo {
  height: 100%;
  @include for-tablet-landscape-up {
    width: 100%;
    height: auto;
  }
}

nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  
  .month-name {
    display: none;
    // width: 49%;
    text-align: center;
  }

  .month-name-short {
    display: inline-block;
    width: 49%;
    text-align: center;
  }

  .month-nav {
    border: 0;
    padding: 15px;
    background-color: #445d68;
    cursor: pointer;

    &.disabled {
      background-color: #1f3640;
      pointer-events: none;
    }
  }

  @include for-tablet-portrait-up {
    width: 35%;
    .month-name {
      display: inline-block;
    }
    .month-name-short {
      display: none;
    }
  }
  
  @include for-tablet-landscape-up {
    width: 100%;
    .month-name {
      display: none;
    }
    .month-name-short {
      display: block;
    }
  }
  
  @include for-desktop-up {
    .month-name {
      display: block;
      width: 100%;
      margin: 5px;
    }
    .month-name-short {
      display: none;
    }
  }
  
  @include for-desktop-up {
  }
}