// Class example: m-b-20
// Generator for margin and padding classes (E.g. .m-b-10, .p-t-20)
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.p-h-15 {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.p-v-15 {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
}

.u-display-none {
  display: none;
}

.u-margin-0-auto {
  margin: 0 auto;
}

.u-flex-column {
  flex-direction: column;
}
