@import './mixins.scss';
@import './variables.scss';
@import './nav.scss';
@import './modal.scss';

body {
  margin: 0;
  // font-family: 'Open Sans', sans-serif;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body {
  background-color: #edfbff;
}

.header-panel, .side-panel {
  box-sizing: border-box;
}


.header-panel {
  top: 0;
  height: 15vh;
  position: relative;
  background-color: white;
  border: 1px solid gray;
  z-index: 5;
}

.body-panel {
  display: flex;
  height: 100vh;
  z-index: 4;
  overflow: hidden;
}


.calendar {
  margin-top: 50px;
  background-color: #edfbff;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  @include for-tablet-landscape-up {
    margin-top: 0;
    width: 80vw;
  }
}

.month {
  // width: 100%;
  margin: 0 auto;
  height: 96%;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2px);
  min-height: 550px;

  &.shortened {
    .day {
      height: calc(16.7% + 1px);
    }
  }
  &.is-hidden {
    display: none;
  }
}

.is-hidden {
  display: none;
}

.day-item {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.game-item {
  border: 2px solid $game-item-border;
  background-color: white;
  font-size: 12px;
  box-sizing: border-box;
  height: 283px;

  .popularity {
    display: none;
  }

  .platforms {
    display: flex;
    flex-direction: row;
    .icon-wrapper {
      width: 20px;
      height: 20px;
      overflow: hidden;
      display: inline-block;
      margin-right: 2px;
      
      .platform-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
  
  &.half-item {
    height: 49%;
    min-height: 65px;
  }

  &.third-item {
    height: 32%;

    .platforms {
      display: none;
    }
  }

  &.half-item, &.third-item {
    .game-details {
      padding: 4px 22px 4px 4px;
      position: relative;

      .game-date {
        position: absolute;
        top: -2px;
        background-color: white;
        right: -2px;
        border: 2px solid $game-item-border;
        padding: 0px 2px 0px 2px;
        font-weight: 800;
        font-size: 14px;
      }
    }
  }

  &.is-big {
    border: 0;
    padding: 0;
    margin: 5px;
    width: 160px;

    .game-cover {
      // height: 70%;
      height: 200px;
      display: flex;
      align-items: flex-start;
      overflow: hidden;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      img {
        width: 100%;
      }
    }
    .game-details {
      position: relative;
      border-top: 2px solid $game-item-border;
      margin-top: -2px;
      border-right: 2px solid $game-item-border;
      border-left: 2px solid $game-item-border;
      height: calc(30% - 4px);
      height: 82px;
      border-bottom: 2px solid $game-item-border;
      padding: 5px;
      box-sizing: border-box;

      .game-date {
        position: absolute;
        bottom: 100%;
        background-color: white;
        right: -2px;
        border-top: 2px solid $game-item-border;
        border-left: 2px solid $game-item-border;
        padding: 0px 2px 0px 2px;
        font-weight: 800;
        font-size: 14px;
        border-right: 2px solid $game-item-border;
      }

      .platforms {
        position: absolute;
        bottom: 5px;
      }
    }
  }
}

.list-day {
  padding: 5px;

  .date {
    margin: 5px;
    font-size: 20px;
  }
}