@import './mixins.scss';
@import './variables.scss';
@import './utilities.scss';
@import './game-item.scss';
@import './inputs.scss';
@import './buttons.scss';
@import './nav.scss';
@import './modal.scss';

body {
  margin: 0;
  // font-family: 'Open Sans', sans-serif;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body {
  background-color: #edfbff;
}

.header-panel, .side-panel {
  box-sizing: border-box;
}

.body-panel {
  display: flex;
  height: 100vh;
  z-index: 4;
  -webkit-overflow-scrolling: touch;
}

.calendar {
  margin-top: 50px;
  background-color: white;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  color: #313135;

  @include for-tablet-landscape-up {
    margin-top: 0;
    width: 80vw;
    margin-left: 20vw;
    overflow: auto;
  }
}

.month {
  margin: 0 auto;
  height: 96%;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2px);
  min-height: 550px;

  &.shortened {
    .day {
      height: calc(16.7% + 1px);
    }
  }
  &.is-hidden {
    display: none;
  }
}

.is-hidden {
  display: none;
}

.day-item {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.platforms {
  display: flex;
  flex-direction: row;
  .icon-wrapper {
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    margin-right: 2px;
    
    .platform-icon {
      width: 20px;
      height: 20px;
    }
  }
}

.socials {
  display: flex;
  flex-direction: row;
  .icon-wrapper {
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    
    .platform-icon {
      width: 30px;
      height: 30px;
    }
  }
}

.list-day {
  padding: 5px;
  display: block;

  .date {
    margin: 5px;
    font-size: 20px;
  }

  &.today {
    .date {
      text-decoration: underline;
    }
  }
}

.hr {
  border: 0;
  border-top: 1px solid lightgray;
  width: 100%;
}