@import './mixins.scss';
@import './variables.scss';
@import './utilities.scss';
@import './typography.scss';
@import './structure.scss'; //
@import './header.scss'; //
@import './footer.scss'; //
@import './calendar.scss'; //
@import './game-view.scss'; //
@import './image-carousel'; //
@import './hamburger'; //
@import './game-item.scss';
@import './buttons.scss';
@import './nav.scss';

.header-panel {
  box-sizing: border-box;
}

.body-panel {
  -webkit-overflow-scrolling: touch;
}

.is-hidden {
  display: none;
}

.platforms {
  display: inline-flex;
  flex-direction: row;

  .icon-wrapper {
    width: 25px;
    height: 25px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;

    .platform-icon {
      width: 25px;
      height: 25px;
    }
  }
}

.socials {
  .icon-wrapper {
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;

    .platform-icon {
      width: 30px;
      height: 30px;
    }
  }
}
